body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#navBar {
    width: 97.5vw;
    height: 100px;

    background-color: rgb(68, 54, 49);
    border-radius: 15px;
    border: solid 4px black;
    box-shadow: 0 -10px  10px rgba(66, 66, 66, 0.315);

    position: absolute;
    bottom: -15px;
    left: 0;
}