:root {
    --backgroundObjects: rgb(48, 37, 37);
    --backgroundObjectsBorder: rgb(44, 40, 39);
  }

* {
    cursor: none;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.custom-cursor {
    position: absolute;
    z-index: 100;
    width: 50px; /* Set your desired width */
    height: 50px; /* Set your desired height */
    background-image: url('../cursors/default.png'); /* Replace 'path_to_your_image.png' with your image URL */
    background-size: cover; /* Adjust to fit your image */
    pointer-events: none; /* Ensures the cursor doesn't block mouse events */
  }

#openerScreen {
    height: 100vh;
    width: 100vw;
    background-color: rgb(23, 26, 39);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

#openerScreen-button {
    height: 60px;
    width: 400px;

    color: white;
    font-size: 15px;
    font-weight: bolder;

    border: solid 2px rgb(77, 77, 143);
    background-color: rgb(57, 52, 91);
    border-radius: 10px;
    box-shadow: 0 10px rgb(40, 31, 61);

    position: relative;
    top: 0;

    transition: all .5s ease;
}

#openerScreen-button:hover {
    
    border: solid 2px rgb(100, 100, 180);
    background-color: rgb(78, 72, 124);
    border-radius: 10px;
    box-shadow: 0 0px rgb(59, 45, 91);

    top: 10px;
}

.animIntro {
    animation: animIntro 1s ease forwards;
}

@keyframes animIntro {
    0% {
        top: 0;
        display: flex;
    }
    5% {
        top: -10px;
        display: flex;
    }
    99% {
        top: 100vh;
        display: flex;
    }
    100% {
        top: 100vh;
        display: none;
    }
}

#canvas-lobby {
    border: solid 20px var(--backgroundObjects);
    height: calc(100vh - 40px);
    width: 80vw;
}

#navBar {
    width: 97.5vw;
    height: 100px;

    background-color: rgb(68, 54, 49);
    border-radius: 15px;
    border: solid 4px black;
    box-shadow: 0 -10px  10px rgba(66, 66, 66, 0.315);

    position: absolute;
    bottom: -15px;
    left: 0;
}

#ui {
    background: 
    /* linear-gradient(hsl(188, 100%, 91%) 0%, rgb(237, 192, 166) 100%); */
    linear-gradient(hsl(184, 100%, 87%) 0%, rgb(209, 175, 147) 100%);
    height: calc(100vh - 20px);
    width: 100vw;
    max-width: 20vw;
    overflow: hidden;

    border-bottom: solid 20px var(--backgroundObjects);
    border-right: solid 20px var(--backgroundObjects);
    border-left: solid 20px var(--backgroundObjects);

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    outline: none 8px var(--backgroundObjects);
    outline-offset: -8px;
    border-radius: 20px 0 0 20px;
    

    /* box-shadow: -10px 0 10px rgba(0, 0, 0, 0.412); */

    overflow-x: hidden;

    transition: all 1s ease
}

#ui::-webkit-scrollbar {
    display: none;
  }

#uiTop {
    height: 20px;
    width: 100vw;
    background-color: var(--backgroundObjects);
    position: relative;
    margin-bottom: 0px;
    
}

#skillsUi {
    width: 250px;
    margin-bottom: -110px;
    position: relative;
    top: -18px;
    z-index: 1;
}

#skillLevels {
    width: 235px;

    display: flex;
    justify-content: space-evenly;
    gap: 28px;

    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 70, 70);
    text-shadow: 0 0 2px rgb(175, 175, 175);

    position: relative;
    z-index: 2;
    top: 20px;
}

#usernameMenu {
    font-size: 90px;
    width: 100vw;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(194, 83, 77);
    margin-bottom: -150px;
    margin-top: 30px;
    position: relative;
    top: 0;
    text-shadow: 0 0 10px rgb(194, 83, 77) ;
    z-index: 1;

    animation: upAndDown 4s ease infinite;
}

@keyframes upAndDown {
    0% {
        top: -10px
    }
    50% {
        top: 0px;
    }
    100% {
        top: -10px;
    }
}

#circleCharacter {
    height: 250px;
    width: 250px;
    background: 
    /* linear-gradient(rgb(255, 160, 160) 0%, #ff88b0 100%); */
    linear-gradient(rgb(255, 202, 95) 0%, #ffab5c 100%);
    position: relative;
    margin-bottom: -250px;
    margin-top: 0px;
    border-radius: 50%;
    outline: solid 1px rgb(255, 160, 160);
    outline-offset: 20px;
}

#soulImg {
    width: 90%;
    margin-top: 50px;
    position: relative;
    z-index: 1;
    filter: saturate(1.3);
    opacity: 1;
}

#mountainsUi {
    margin-top: -330px;
    margin-bottom: -100px;
    width: 100vw;
    height: 400px;
    position: relative;
    z-index: 0;
    filter: blur(2px) saturate(.3);
    opacity: 1;
    background: url("./soulsEnviroments/desert.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

#inventoryWindow {
    position: relative;
    bottom: 0px;
    left: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap: 10px;   

    background: var(--backgroundObjects);
    background-repeat: no-repeat;
    background-size: cover;

    border-top: solid 2px black;
    border-radius: 0px;

    width: 97%;
    height: 100%;    
    
    padding: 20px 10px 100% 10px;
    margin-top: 0px;

    @media screen and (min-width: 1000px) {
        padding: 20px 30px 100% 30px;
    }
}

#backpackImage {
    height: 100px;
    position: absolute;
    left: 35%;
    top: -13%;
    display: none;
    
}

.inventoryItem {
    position: relative;
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;
    /* background: url("./inventory/commonFrog.png"); */
    background-repeat: no-repeat;
    background-size: cover;

    

    border-radius: 10px;
    border: solid 2px rgb(41, 34, 34);
    
    box-shadow: 5px 5px rgba(0, 0, 0, 0.192);

    background-color: rgba(64, 45, 29, 0);

    transition: all .2s ease-out;
    
}

.inventoryItem:hover {
    
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.192), inset 0px 0px 10px  rgb(255, 255, 255);
    
}

.inventoryItem:active {
    box-shadow: 0 0px rgb(56, 25, 15);
    border: solid 2px rgb(174, 255, 0);
    top: 5px;
    background: rgb(39, 71, 25);
    filter: brightness(10);
}

.inventorySwitch {
    display: flex;
    justify-content: flex-start;
    width: 95%;
    gap: 5px;
    margin-bottom: -2px;
    position: relative;
    z-index: 1;
}

.inventoryHide {
    display: flex;
}

.soulsHide {
    display: flex;
}

.switchButton {
    height: 40px;
    width: 70px;

    border-top: solid 2px black;
    border-right: solid 2px black;
    border-left: solid 2px black;
    border-bottom: none;

    font-size: 20px;


    border-radius: 20px 20px 0 0;
    
}

.inventorySwicther {
    background-color: var(--backgroundObjects);
}

.soulsSwitcher {
    background: rgb(81, 87, 152) ;
}

.capeSwitcher {
    background: rgb(255, 248, 146) !important ;
}

.booksSwitcher {
    background: rgb(152, 95, 81) ;
    border-radius: 15px;
    border: solid 2px black;
    height: 35px;
    padding-bottom: 5px;
    overflow: hidden;
}

.deleteButton {
    background: rgb(255, 110, 110) ;
}

.equipmentWindow {
    margin-top: 0px;
    padding: 0px 0px !important;
    background-color: transparent !important;
    background: var(--backgroundObjects) !important;
    border: solid 20px var(--backgroundObjects) !important;
    border-radius: 15px !important;
    height: 80px !important;
    width: 300px !important;
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    z-index: 10 !important;
    display: flex !important;
    align-items: flex-end !important;
}

.equipmentItem {
    background: transparent;
    box-shadow: inset 0px 0px 0px 5px rgba(255, 221, 177, 0.453);
    border: solid 2px rgb(0, 0, 0);
    backdrop-filter: none;
}

.equipmentItem:active {
    width: 90px;
    height: 90px;
    left: 8px;
    top: 8px;
    box-shadow: 0px 0px 0px rgba(127, 101, 66, 0.453);
    border: solid 1px rgb(248, 189, 138);
    background-color: rgba(255, 160, 143, 0.993);
}

.soulWindow {
    background: rgb(81, 87, 152) !important;
}

.soulSlot {
    border: solid 2px white;
    
}

.soulSlot:active {
    box-shadow: inset 0 0 20px rgb(175, 254, 255);
}

.capeWindow {
    background: rgb(255, 248, 146) !important;
}

#chat {
    position: absolute;
    z-index: 1;
    bottom: 80px;
    right: 10px;
    color: rgb(255, 255, 255);
    display: flex;
}

#chat input {
    height: 30px;
    width: 30px;

    border: none;
    border-radius: 15px;
    outline: none 1px white;
    outline-offset: -5px;
    background: var(--backgroundObjects);
    
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bolder;
}

#chat input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}

#loginScreen {
   display: none;
   position: relative;
   visibility: visible;
   opacity: 1;
   left: 0;

   z-index: 4;
   
}

.downLogIn {
    animation: animLogIn 3s ease forwards;
}

@keyframes animLogIn {
    0% {
        left: 0;
        visibility: visible;
        
    }
    10% {
        left: -50px;
        visibility: visible;
        
    }
    99% {
        left: 150vw;
        visibility: visible;
        
    }
    100% {
        left: 150vw;
        visibility: hidden;
    }
}

#login {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    height: 100vh;
    width: 30vw;

    box-shadow: -5px 0 300px 200px rgb(16, 21, 25);

    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    background-color: rgb(16, 21, 25);
}

#signIn {
    margin-top: 200px;
    margin-bottom:10px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

    position: relative;
}

#login input {
    height: 40px;
    width: 200px;
    text-align: center;

    border: solid 1px rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(16, 21, 25);
    
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bolder;
}

#login input::placeholder {
    color: white;
    font-weight: 100;
}

#usernameInput {
    background: rgb(255, 255, 255) ;
}

#buttonsLogin {
    display: flex;
    justify-content: center;
    gap: 30px;

    position: absolute;
    z-index: 3;
    right: 0;
    top: 450px;

    width: 30vw;
}

#buttonsLogin button {
    height: 50px;
    width: 100px;
    text-align: center;

    border: none 1px rgb(160, 160, 160);
    border-radius: 5px;
    background: rgb(16, 21, 25);
    
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bolder;

    cursor: pointer;

    transition: all .2s ease;
}

#buttonsLogin button:hover {
    
    background: linear-gradient(rgb(3, 185, 109) 0%, rgb(18, 238, 172) 100%);

    color: rgb(255, 255, 255);
}

#createButton {
    color: rgb(20, 20, 20) !important;
    background: white !important;
    cursor: none;
}

#loginButton {
    color: white !important;
    background: rgb(16, 21, 25) !important;
    border: solid 1px white !important;
    cursor: none;
}

#loginArt {
    width: 80vw;
    height: 100vh;

    pointer-events: none;

    position: absolute;
    left: 0;
    top: 0;

    background-color: black;

}

#hearts {
    position: absolute;
    top: 0;
    left: 35px;
    transform: translate(52%, 22%);
    border-radius: 5px;

    background-color: var(--backgroundObjects);
    padding: 0 10px 0 20px;
    
    height:50px;
}

#profilePicture {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%, 10%);
    z-index: 1;

    height: 100px;
    width: 100px;

    border-radius: 5%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.383);
    border: solid 20px var(--backgroundObjects);
    background: url("https://www.okx.com/cdn/nft/files/68540655-7efc-47b9-96d4-5ba28ce32725.webp/type=detail?x-oss-process=image/resize,w_784,type_6/ignore-error,1");
    background-repeat: no-repeat;
    background-size: cover;
}

#createButton:hover {
    
    background: linear-gradient(rgb(78, 155, 255) 0%, rgb(48, 155, 255) 100%) !important;

    color: rgb(255, 255, 255);
}

#obtainedItem {
    height: 150px;
    width: 150px;
    opacity: 1;

    position: absolute;
    top: 150vh;
    left: 40vw;
    transform: translate(-50%, -50%);
    z-index: 20;

    border-radius: 10px;
    border: none 1px black;
    background: none;
}

#catchGif {
    height: 250px;
    width: 250px;
    opacity: 1;

    filter: saturate(2);

    position: absolute;
    top: 150vh;
    left: 40vw;
    transform: translate(-50%, -50%);
    z-index: 19;

    border: none;
}

@keyframes stars {
    0% {      
        top: 50vh;
        opacity: 0;
    }
    20% {
        top: 50vh;
        opacity: 1;
    }
    80% {
        top: 50vh;
        opacity: 1;
    }
    100% {
        top: 50vh;
        opacity: 0;
    }
}

#catchGif.starsAnim {
    animation: stars 3s ease;
}

#obtainedItem.obtainedAnim {
    animation: obtained 3s ease;
}

@keyframes obtained {
    0% {
        height: 0;
        width: 0;
        top: 50%;
        opacity: 0;
    }
    20% {
        height: 190px;
        width: 190px;
        top: 50%;
        opacity: 1;
    }
    80% {
        height: 190px;
        width: 190px;
        top: 50%;
        opacity: 1;
    }
    100% {
        height: 50px;
        width: 50px;
        top: 100%;
        opacity: 0;
    }
}

#fishingMinigame {
    position: absolute;
    top: 65%;
    left: 50vw;
    transform: translate(-50%, 0%);

    width: 350px;
    background-color: transparent;

    padding: 5px;
    border-radius: 5px;
    
    overflow: hidden;
  }
  
  #fishingBar {
    width: 120px;
    margin-left: -50%;
    height: 120px;
    background: url("./Fishing/fishShadow.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    opacity: .5;
  }

  #fishingBarHit {
    position: absolute;
    top: 5px;
    right: 20%;

    width: 120px;
    height: 120px;
    background: url("./Fishing/fishBuoy.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;

    opacity: 1;

    /* animation: startFishing .5s ease; */
    
  }

  .noFish {
    animation: endFishing .5s ease;
  }

  .startFish {
    animation: startFishing .5s ease;
  }

  .gotFish {
    animation: takeFish .5s ease;
  }

  @keyframes startFishing {
    0% {
        top: -50px;
        opacity: 0;
    }
    100% {
        top: 5px;
        opacity: 1;
    }
  }

  @keyframes endFishing {
    0% {
        top: 5px;
        opacity: 1;
    }
    100% {
        top: -50px;
        opacity: 0;
    }
  }

  @keyframes takeFish {
    0% {
        opacity: 1;
        width: 120px;
        height: 120px;
    }
    100% {
        opacity: 0;
        width: 180px;
        height: 180px;
    }
  }

  #player-img-rend {
    display: none;
  }
  #frogWarrior-img-rend {
    display: none;
  }
  #slime-img-rend {
    display: none;
  }