@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

h2, h1 {
    font-weight: 400;
    margin: 0;
}

.textTitle{
    font-size: 39px;
    font-weight: 100;
}
.textStandard{
    font-size: 15px;
    font-weight: 400;
}
button:focus {
  outline: none;
}

.uiProfileLevel {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    left: 2px;
    top: -8px;
    color: #00000061;
}
:root {
    --backgroundObjects: rgb(48, 37, 37);
    --backgroundObjectsBorder: rgb(44, 40, 39);
  }
  p{
    margin: 0px;
  }

* {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    cursor: none;
    font-family: "Tiny5", serif !important;
    /* font-weight: 100 ; */
    -webkit-user-drag: none;
    image-rendering: pixelated;
  }
  
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #0c0521 !important;

}
#solar >.glow-wrap-card::before {
    background: rgba(255, 0, 0, 0.861) !important;
}
#arcane >.glow-wrap-card::before {
    background: rgb(182, 168, 255) !important;
}
#nuclear >.glow-wrap-card::before {
    background: rgb(101, 255, 122) !important;
}
.glow-wrap-card{
    position: absolute;
    width: 450px;
    height: 450px;
    display: inline-block;
    z-index: 0;
}
.glow-wrap-card::before {
    content: "";
    position: absolute;
    top: 42%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 353px;
    height: 503px;
    background: white;
    border-radius: 0%;
    filter: blur(56px);
    z-index: 1;
    animation: pulseGlow 10.5s infinite;
}

.glow-wrap-card-arcane {
    margin-left: -120px;
}

.middleParagraph {
    color: white;
    width: 50vw;
    max-width: 800px;
    text-align: justify;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 50px;
    border: solid 1px white;
    padding: 32px;
    border-radius: 10px;
    background: #0b051c;
    line-height: 23px;
}

#columnRight {
    width: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    filter: brightness(.4) sepia(1) hue-rotate(596deg);
}

#columnLeft {
    width: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
    filter: brightness(.4) sepia(1) hue-rotate(596deg);
}

#membershipPage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 100px;
    background:
        linear-gradient(
            to top,
            rgba(11, 5, 28, 0) 40%,  
            #0B051C 100%             
        ),
        url(./Textures/sardinBack.png);
    background-size: 100px;
    backdrop-filter: brightnes(2);
    overflow: scroll;
}

#membershipPageNav{
    width: calc(100vw - 30px - 30px);
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: relative;

    h1{
        font-size: 70px;
        text-shadow: 5px 5px #281a5b;
        margin-top: 50px;
        margin-bottom: -50px;
    }
    a{
        display: flex;
        position: absolute;
        display: flex;
        left: 30px;
        bottom: 37px;
        text-decoration: unset;
    }
}
#membershipPageContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 40px) ;
    padding: 20px;
}
#membershipPageContent > div{
    overflow: visible;
}
#arcaneMembership{
    background-image: url(./membershipCard/arcaneSubsciption.gif);
    margin: 0 -120px 0 -120px;
    position: relative;
    bottom: 80px;
}

#arcaneMembership:hover {
    background-image: url(./membershipCard/arcaneSubsciption.gif);
    margin: -40px -145px 0 -145px;
    position: relative;
    bottom: 80px;
}
#solarMembership{
    background-image: url(./membershipCard/solarSubsciption.gif);
}
#nuclearMembership{
    background-image: url(./membershipCard/nuclearSubsciption.gif);
}
.cardMembership{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    position: relative;
    transition: all .5s ease;
    filter: none;
}

.cardMembership:hover {
    width: 580px;
    height: 580px;
    color: aliceblue;
    position: relative;
    filter: brightness(1.2);
    margin: -25px -25px;
}

#membershipPageContent:hover .cardMembership:not(:hover) {
    filter: brightness(.9) grayscale(.2);
}

.cardMembership:hover > .membershipText{
    top: 257px;
    right: 217px;
    font-size: 16px;
    gap: 16.5px;
}


.membershipText{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 235px;
    right: 204px;
    font-size: 14px;
    gap: 16px;
    font-weight: 100;
    text-shadow: 1px 1px black;
    transition: all .5s ease;
}
.line{
    text-decoration: line-through;
}